#Ignora os arquivos de configuração com informações sensíveis
*ajuste_de_bd.ipynb
*app_data.py
*app_v2.2.0 copy.py
*app.py
*dashboard.py
*post_base_2.db
*graficos.ipynb

#Ignora a pasta do ambiente virtual
env_dash
