#Ignora os arquivos de configuração com informações sensíveis
*ajuste_de_bd.ipynb
*app_data.py
*app_v2.2.0_copy.py
*app_v3.0.py
*app.py
*dashboard.py
*post_base.db
*test.py
*teste.py
*teste2.py
*test_responsive.py
*create_bd_postagens.sql
*popula_banco_dashboard_internet.ipynb


#Ignora a pasta do ambiente virtual
env_dash
